atomicwrites
attrs
certifi
chardet
colorama
configparser
crayons
idna
importlib-metadata
iniconfig
more-itertools
msedge-selenium-tools
packaging
pluggy
py
pyparsing
pytest
pytest-reporter-html1
requests
selenium
six
toml
urllib3
wcwidth
webdriver-manager
xlrd
zipp